fastapi==0.115.12
uvicorn==0.34.0
pydantic==2.11.1
requests==2.28.1
numpy==1.26.4
pyvista==0.44.0
vtk==9.3.1
trame==2.5.2
trame-client==3.4.0
trame-components==2.4.2
trame-deckgl==2.0.3
trame-markdown==2.0.2
trame-matplotlib==2.0.3
trame-plotly==2.1.1
trame-rca==1.2.0
trame-router==2.3.0
trame-server==3.2.3
trame-simput==2.5.1
trame-vega==2.1.1
trame-vtk==2.5.8
trame-vuetify==2.8.1
python-multipart==0.0.6
matplotlib==3.7.2
geant4-pybind==0.1.0b12
langchain_gigachat
langgraph
ddgs
langchain_tavily
rich
python-dotenv